<div *ngIf="hero">
  <mat-card>
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Name</mat-label>
        <input matInput [(ngModel)]="hero.name" placeholder="Name" />
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="fill">
        <mat-label>First Name</mat-label>
        <input matInput [(ngModel)]="hero.firstName" placeholder="First Name" />
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Last Name</mat-label>
        <input matInput [(ngModel)]="hero.lastName" placeholder="Last Name" />
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Place</mat-label>
        <input matInput [(ngModel)]="hero.place" placeholder="Place" />
      </mat-form-field>
    </div>
    <button
      mat-stroked-button
      color="primary"
      (click)="updateHero(hero)"
      *ngIf="hero.id"
    >
      Save
    </button>
    <button
      mat-stroked-button
      color="secondary"
      (click)="deleteHero(hero)"
      *ngIf="hero.id"
    >
      Delete
    </button>
    <button
      mat-stroked-button
      color="primary"
      (click)="createHero(hero)"
      *ngIf="!hero.id"
    >
      Create
    </button>
  </mat-card>
</div>
